@font-face {
	font-family: 'DiamondDust';
	src: url('./css/Diamond-Dust.woff') format('woff'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./css/DiamondDust.ttf')
		format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'BadGuyLuck';
	src: url('./css/BadGuyBlack.otf') format('otf'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./css/BadGuyBlack.ttf')
		format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background: white;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
  max-height: 100%;
}

header {
  z-index: 1;
  margin: 0px;
  padding: 0px;
  position: sticky;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(94, 94, 94);
}

header>img {  
  z-index: 2;
  padding: 10px;
}

canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;  
}

.dot {
  z-index: 1;
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 3%;
  height: 15%;
  width: 20%;
  min-width: 160px;
  min-height: 120px;
  background-color:#efefef; /*rgb(191, 208, 219);*/
  padding: 10px;
  vertical-align: middle;
  border: 0px solid white;
  box-sizing: content-box;
  -webkit-transition: border 5s, font-size 5s, font-weight 5s;  /* For Safari 3.1 to 6.0 */
  transition: border 5s, font-size 5s, font-weight 5s;
  transition-delay: 0s;
}

.dot:hover{
  font-weight: normal;
  font-size: normal;
  border: 20px solid #efefef; 
  -webkit-transition: border 2s, font-size 1s, font-weight 1s;  /* For Safari 3.1 to 6.0 */
  transition: border 2s, font-size 1s, font-weight 1s;
  transition-delay: 0s;
}

.dot>p {
  padding: 0px;
  margin: 0px;
  padding-top: 15px;
}

.dot>a {
  pointer-events: none;
}

.dot:hover>p {
  padding-top: 0px;
  font-weight: normal;
  font-size: normal;
  -webkit-transition: padding-top 2s, border 2s, font-size 1s, font-weight 1s;  /* For Safari 3.1 to 6.0 */
  transition: padding-top 2s, border 2s, font-size 1s, font-weight 1s;
  transition-delay: 0s;
}

.dot > a > div {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: normal;
  text-align: center;
  opacity: 0;
}

.dot:hover > a > div {
  opacity: 1; 
  -webkit-transition:  opacity 1s; 
  transition: opacity 1s;
  transition-delay: 0.5s;
}

#palma {
  top: 10%;
  left: 5%;  
  font-size: 210%;
  font-family: "DiamondDust";
}

#palma:hover {
  font-size: large;  
}

#palma>a>div{  
  left: 5%;
  right: 5%;
  top: 40%;
}

#palma:hover>a>div { 
}

#eam {
  top: 5%;
  right: 10%;
  font-family: 'Open Sans', 'sans-serif'; /*'Roboto Mono', monospace;*/
  font-size: x-large;
  font-weight: bolder;
}

#eam:hover {
  font-size: large;
}

#eam>a>div{
  left: 5%;
  right: 5%;
  top: 40%; 
}

#eam:hover>a>div { 
  top: 50%;
}

#btb {
  top: 40%;
  right: 2%;
  font-size: 240%;
  font-family: "Libre Barcode 39 Text";
  font-weight: normal;
}

#btb:hover {
  font-size: 150%;   
}

#btb:hover>a>div{
  top: 40%;
}

#coinrattler {
  top: 70%;
  right: 5%;
  font-family: "BadGuyLuck";
  font-size: 140%;
}

#coinrattler:hover{
  font-size: small;
}

#coinrattler:hover>a>div{
  top: 40%;
}

#imgContainer {
  z-index: 0;
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
}

#imgContainer > img {
  text-align: center;
  position: fixed;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#imgContainer > img:hover{
  font-size: xx-small;
}

#imgContainer > img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}