@font-face {
	font-family: 'DiamondDust';
	src: url('./css/Diamond-Dust.woff') format('woff'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./css/DiamondDust.ttf')
		format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'BadGuyLuck';
	src: url('./css/BadGuyBlack.otf') format('otf'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./css/BadGuyBlack.ttf')
		format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background: white;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica;
  max-height: 100%;
}

header {
  z-index: 1;
  margin: 0px;
  padding: 0px;
  position: sticky;
}

header>img {  
  z-index: 2;
  padding: 10px;
}


canvas {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  
}

.dot {
  z-index: 1;
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 3%;
  height: 15%;
  width: 20%;
  min-width: 160px;
  min-height: 120px;
  /*height: 100px;
  width: 150px;*/
  cursor: pointer;
  /*opacity: 0.5;*/
  background-color:#efefef; /*rgb(191, 208, 219);*/
  padding: 10px;
  vertical-align: middle;
  border: 20px solid white;
  box-sizing: content-box;
  -webkit-transition: border 2s; /* For Safari 3.1 to 6.0 */
  transition: border 2s;
}

.dot:hover{
  /*opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
  background-color:  rgb(191, 208, 219);*/
  /*background-image: linear-gradient(to bottom right, rgb(191, 208, 219), #efefef);*/
  border: 20px solid #efefef; 
  -webkit-transition: border 2s; /* For Safari 3.1 to 6.0 */
  transition: border 2s;
}

#palma {
  top: 10%;
  left: 5%;  
  font-size: 210%;
  font-family: "DiamondDust";
  font-weight: bold;
  -webkit-transition:  font-size 2s, font-weight 2s, border 2s; /* For Safari 3.1 to 6.0 */
  transition: font-size 2s, font-weight 2s, border 2s;
}

#palma:hover {
  font-size: medium;
  font-weight: normal;
}

#palma>div{
  position: absolute;
  left: 5%;
  right: 5%;
  top: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: normal;
  opacity: 0;
  text-align: center;
  line-height: normal;
  -webkit-transition:  opacity 1s; /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
 
}

#palma:hover>div {
  font-size: medium;
  opacity: 1;
  text-align: center;
  -webkit-transition:  opacity 2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 2s;
  transition-delay: 1s;
}

#eam {
  top: 5%;
  right: 10%;
  font-family: 'Open Sans', 'sans-serif'; /*'Roboto Mono', monospace;*/
  font-size: x-large;
  font-weight: bolder;
  -webkit-transition:  font-size 2s, font-weight 2s, border 2s; /* For Safari 3.1 to 6.0 */
  transition: font-size 2s, font-weight 2s, border 2s;
}

#eam:hover {
  font-size: small;
  font-weight: normal;
}

#eam>div{
  position: absolute;
  left: 5%;
  right: 5%;
  top: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: normal;
  opacity: 0;
  text-align: center;
  line-height: normal;
  -webkit-transition:  opacity 1s; /* For Safari 3.1 to 6.0 */
  transition: opacity 1s;
 
}

#eam:hover>div {
  font-size: medium;
  opacity: 1;
  text-align: center;
  -webkit-transition:  opacity 2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 2s;
  transition-delay: 1s;
}

#btb {
  top: 40%;
  right: 2%;
  font-size: 240%;
  font-family: "Libre Barcode 39 Text";
  font-weight: normal;
}

#coinrattler {
  top: 70%;
  right: 5%;
  font-family: "BadGuyLuck";
  font-size: 140%;
}

#imgContainer {
  z-index: 0;
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
}

#imgContainer > img {
  text-align: center;
  position: fixed;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#imgContainer > img:hover{
  font-size: xx-small;
}

#imgContainer > img.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}